
.rainbow-border {
  font-size: 2px;
  color: white;
  text-align: center;
  background: white;
  border: 2px solid;
  border-radius: 24px;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  animation: animate-border 3s linear infinite;
  border-radius: 12px;
}

/* Create animation */
@keyframes animate-border {
  0% {
    border-image-source: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
  }
  100% {
    border-image-source: linear-gradient(
      to right,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
  }
}
